<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Express Routes Training</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Hey Will!</h1>
      <form id="guess-number-form">
        <input id="guess-num" name="number" placeholder="guess a number" type="text" />
        <input type="submit" />
      </form>
      </div>
    </div>
  </body>
</html>
